.popup__save-button {
    color: #fff;
    background-color: #000;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 50px;
    transition: background-color 0.2s linear;
    
  }
  
  .popup__save-button:hover {
      background-color: rgba(0, 0, 0, .8);
  }