@import url(./__image/card__image.css);
@import url(./__content/card__content.css);
@import url(./__heading/card__heading.css);

.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
